In [6]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
import matplotlib.pylab as plt

In [19]:
import pandas as pd
data = pd.read_excel('test.xlsx','Sheet1')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80 entries, 0 to 79
Data columns (total 7 columns):
time    80 non-null int64
a       80 non-null float64
b       80 non-null float64
c       80 non-null float64
d       80 non-null float64
e       80 non-null float64
f       80 non-null float64
dtypes: float64(6), int64(1)
memory usage: 4.5 KB

In [21]:
data.head(10)

,time,a,b,c,d,e,f
0,8703,5.263051e+07,3.423145e+07,178850.882,1.986349e+06,3.635370e+07,0.054640
1,8706,5.199664e+07,3.487945e+07,184556.733,1.873514e+06,3.568970e+07,0.052495
2,8709,5.452733e+07,3.720817e+07,202435.813,1.648667e+06,3.687188e+07,0.044713
3,8712,5.220097e+07,3.469676e+07,183035.286,2.278954e+06,3.526258e+07,0.064628
4,8803,5.060724e+07,3.135476e+07,164126.416,2.309560e+06,3.391740e+07,0.068094
5,8806,4.985278e+07,3.368308e+07,182473.415,2.176802e+06,3.331315e+07,0.065344
6,8809,5.336319e+07,3.416243e+07,193024.879,1.866568e+06,3.552690e+07,0.052540
7,8812,5.558258e+07,3.626236e+07,197788.959,1.946295e+06,3.639340e+07,0.053479
8,8903,4.879088e+07,3.184859e+07,169754.104,1.408697e+06,3.169385e+07,0.044447
9,8906,5.240948e+07,3.405950e+07,174675.012,1.547775e+06,3.409522e+07,0.045396

In [22]:
data['time']=data['time'].map(lambda time: str((time+191100)*100+1))
data.head()

,time,a,b,c,d,e,f
0,19980301,5.263051e+07,3.423145e+07,178850.882,1986348.708,3.635370e+07,0.054640
1,19980601,5.199664e+07,3.487945e+07,184556.733,1873513.911,3.568970e+07,0.052495
2,19980901,5.452733e+07,3.720817e+07,202435.813,1648666.935,3.687188e+07,0.044713
3,19981201,5.220097e+07,3.469676e+07,183035.286,2278953.683,3.526258e+07,0.064628
4,19990301,5.060724e+07,3.135476e+07,164126.416,2309559.818,3.391740e+07,0.068094

In [23]:
data['time']=pd.to_datetime(data['time'],format='%Y%m%d')
data.set_index('time',inplace=True)
data.head()

,a,b,c,d,e,f
time,,,,,,
1998-03-01,5.263051e+07,3.423145e+07,178850.882,1986348.708,3.635370e+07,0.054640
1998-06-01,5.199664e+07,3.487945e+07,184556.733,1873513.911,3.568970e+07,0.052495
1998-09-01,5.452733e+07,3.720817e+07,202435.813,1648666.935,3.687188e+07,0.044713
1998-12-01,5.220097e+07,3.469676e+07,183035.286,2278953.683,3.526258e+07,0.064628
1999-03-01,5.060724e+07,3.135476e+07,164126.416,2309559.818,3.391740e+07,0.068094

In [136]:
%pylab inline
df=data[['a','b','c','d','e','f']]
df.plot(kind = 'line')

Populating the interactive namespace from numpy and matplotlib

KeyError: "['a' 'b' 'c' 'd' 'e'] not in index"

In [134]:
dateparse = lambda dates: pd.datetime.strptime(time3,'%Y-%m') 
data1 = pd.read_csv('test.csv',parse_dates='time3', index_col='Month',date_parser=dateparse) 
print (data1.head())

TypeError: Only booleans, lists, and dictionaries are accepted for the 'parse_dates' parameter

In [116]:
df.dtypes

a    float64
b    float64
c    float64
d    float64
e    float64
f    float64
dtype: object

In [128]:
print (data.head())

    time1     time2    time3            a             b          c   \
0  8703.0  199803.0  1998-03   52,630,506    34,231,451    178,851
1  8706.0  199806.0  1998-06   51,996,642    34,879,448    184,557
2  8709.0  199809.0  1998-09   54,527,327    37,208,169    202,436
3  8712.0  199812.0  1998-12   52,200,969    34,696,756    183,035
4  8803.0  199903.0  1999-03   50,607,236    31,354,762    164,126

            d             e       f  Unnamed: 9  Unnamed: 10  Unnamed: 11  \
0   1,986,349    36,353,697   5.46%         NaN          NaN          NaN
1   1,873,514    35,689,699   5.25%         NaN          NaN          NaN
2   1,648,667    36,871,884   4.47%         NaN          NaN          NaN
3   2,278,954    35,262,580   6.46%         NaN          NaN          NaN
4   2,309,560    33,917,403   6.81%         NaN          NaN          NaN

   Unnamed: 12
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN

In [129]:
data.index

RangeIndex(start=0, stop=240, step=1)

In [130]:
from statsmodels.tsa.stattools import adfuller

def test_stationarity(timeseries):

#Determing rolling statistics

rolmean = pd.rolling_mean(timeseries, window=12)

rolstd = pd.rolling_std(timeseries, window=12)

#Plot rolling statistics:

orig = plt.plot(timeseries, color='blue',label='Original')

mean = plt.plot(rolmean, color='red', label='Rolling Mean')

std = plt.plot(rolstd, color='black', label = 'Rolling Std')

plt.legend(loc='best')

plt.title('Rolling Mean & Standard Deviation')

plt.show(block=False)

#Perform Dickey-Fuller test:

print 'Results of Dickey-Fuller Test:'

dftest = adfuller(timeseries, autolag='AIC')

dfoutput = pd.Series(dftest[0:4], index=['Test Statistic','p-value','#Lags Used','Number of Observations Used'])

for key,value in dftest[4].items:

dfoutput['Critical Value (%s)'%key] = value

print dfoutput

IndentationError: expected an indented block (<ipython-input-130-5aadfae8bed5>, line 7)